{% extends 'base.html' %}

{% block title %} IMPACTO {% endblock %}

{% block body %}
<div class="container">
    <div class="navigation bg-dark text-white p-2 mb-3 rounded">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="bi-house-fill"></i> Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="bi-archive-fill"></i> Inventário</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="bi-people-fill"></i> Recursos Humanos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="bi-bar-chart-fill"></i> Financeiro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="bi-bag-fill"></i> Compras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="bi-file-earmark-fill"></i> Relatórios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="bi-gear-fill"></i> Configurações</a>
            </li>
            <li class="nav-item search-bar">
                <form class="form-inline d-flex" method="get" action="/search">
                    <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar"
                        name="term" style="width: 200px;">
                    <button class="btn btn-outline-light" type="submit"><i class="bi-search"></i></button>
                </form>
            </li>
            
        </ul>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="summary-panel p-3 bg-light border rounded">
                <h3>Inventário</h3>
                <ul class="list-unstyled">
                    <li>Total de ativos: 500</li>
                    <li>Itens em baixa quantidade: 10</li>
                    <li>Itens em alta quantidade: 20</li>
                    <li>Últimas aquisições: 30</li>
                    <li>Última atualização: 29/05/2023</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="summary-panel p-3 bg-light border rounded">
                <h3>Recursos Humanos</h3>
                <ul class="list-unstyled">
                    <li>Total de funcionários: 50</li>
                    <li>Funcionários em férias: 3</li>
                    <li>Aniversariantes do mês: 2</li>
                    <li>Número de contratações no último mês: 5</li>
                    <li>Número de desligamentos no último mês: 1</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="summary-panel p-3 bg-light border rounded">
                <h3>Financeiro</h3>
                <ul class="list-unstyled">
                    <li>Total de vendas: R$ 100.000</li>
                    <li>Faturamento do mês: R$ 50.000</li>
                    <li>Lucro líquido: R$ 10.000</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="summary-panel p-3 bg-light border rounded">
                <h3>Compras</h3>
                <ul class="list-unstyled">
                    <li>Total de pedidos: 20</li>
                    <li>Pedidos em andamento: 5</li>
                    <li>Pedidos entregues: 15</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="links-section p-3 bg-light border rounded">
                <h3>Links Rápidos - Inventário</h3>
                <ul class="list-unstyled">
                    <li><a href="#" class="link-item"><i class="bi-plus-circle-fill"></i> Adicionar Item</a></li>
                    <li><a href="{{ url_for('procedimentos') }}" class="link-item"><i class="bi bi-person-fill"></i>Manual</a></li>
                    <li><a href="#" class="link-item"><i class="bi-search-fill"></i> Busca avançada</a></li>

                    <li><a href="#" class="link-item"><i class="bi-file-earmark-text-fill"></i> Gerar relatórios</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="links-section p-3 bg-light border rounded">
                <h3>Links Rápidos - Recursos HumanosD</h3>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('funcionarios') }}" class="link-item"><i class="bi bi-person-fill"></i>Funcionário</a></li>
                    <li><a href="#" class="link-item"><i class="bi-person-plus-fill"></i> Novo funcionário</a></li>
                    <li><a href="#" class="link-item"><i class="bi-person-search-fill"></i> Busca de funcionário</a></li>
                    <li><a href="#" class="link-item"><i class="bi-credit-card-2-front-fill"></i> Folha de pagamento</a></li>
                    <li><a href="#" class="link-item"><i class="bi-people-fill"></i> Mostrar funcionários totais</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="feed-section p-3 bg-light border rounded">
                <h3>Feed de Notícias - Inventário</h3>
                <ul class="list-unstyled">
                    <li><a href="#" class="feed-item"><i class="bi-cart-plus-fill"></i> Novo equipamento adquirido</a>
                    </li>
                    <li><a href="#" class="feed-item"><i class="bi-tools-fill"></i> Item em manutenção</a></li>
                    <li><a href="#" class="feed-item"><i class="bi-file-earmark-bar-graph-fill"></i> Relatório mensal
                            disponível</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="feed-section p-3 bg-light border rounded">
                <h3>Feed de Notícias - Financeiro</h3>
                <ul class="list-unstyled">
                    <li><a href="#" class="feed-item"><i class="bi-cash-stack-fill"></i> Novo investimento realizado</a>
                    </li>
                    <li><a href="#" class="feed-item"><i class="bi-currency-dollar-fill"></i> Novo contrato assinado</a>
                    </li>
                    <li><a href="#" class="feed-item"><i class="bi-file-earmark-bar-chart-fill"></i> Relatório
                            financeiro atualizado</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
